<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.toby.mymaterialdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WordsDetailActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".ui.activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".ui.activity.PersonalDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.login.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.login.ResetPassWordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.settings.AccountAndPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.settings.ModifyPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.settings.ModifyPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.settings.ModifyPhoneVerifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PictureAndWordsDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.NewsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.NewsPhotoDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ImagesDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ImagesDetail" />
        <!-- photoPicker start -->
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:screenOrientation="portrait" />
        <!-- photoPicker end -->
        <activity
            android:name=".ui.activity.PreviewBeautyPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="BMOB_CHANNEL"
            android:value="official" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="585a27ae07fe652d11001497" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="official" />
    </application>

</manifest>